<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org//1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Angel Book | List of Demons </title>
</head>
<body>
<h1> Angel List</h1>
<div th:each="angels: ${angel}">
    <ul>
        <li>
            <h3 th:text="${angels.getName()}"></h3>
        </li>
        <li>
            <p th:text="${angels.getName()}"></p>
        </li>
        <li>
            <p th:text="${angels.getWeight()}"> </p>
        </li>
    </ul>
</div>
</body>
</html>